<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sample.Mapper.GradeMapper" >
    <!--    result maps     -->
    <resultMap id="ResultMap" type="com.sample.domain.Grade" >
        <id column="name" property="name"  />
        <result column="division" property="division" />

        <collection property="students" ofType="com.sample.domain.Student"
                    column="name" select="selectStudentFromGrade" />
    </resultMap>

    <!--    one to many select  -->
    <select id="selectUsingXML" resultMap="ResultMap" parameterType="java.lang.String" >
        SELECT
        grade.name,
        grade.division
        FROM
        public.grade
        WHERE grade.name = #{name}
    </select>

    <select id="selectStudentFromGrade"
            parameterType="java.lang.String"
            resultType="com.sample.domain.Student">
        SELECT
        student.id,
        student.name
        FROM
        public.student
        WHERE
        grade = #{name}
    </select>
</mapper>